.bg-color-1 {
    background-color: #6a3e21;
}

.bg-color-2 {
    background-color: #59321c;
}

.bg-color-3 {
    background-color: #402515;
}

.bg-color-4 {
    background-color: #29180D;
}

.bg-color-5 {
    background-color: #1a1008;
}