.bg-color-1 {
    background-color: #000000;
}

.bg-color-2 {
    background-color: #202020;
}

.bg-color-3 {
    background-color: #404040;
}

.bg-color-4 {
    background-color: #606060;
}

.bg-color-5 {
    background-color: #808080;
}